@import "tailwindcss";

@source not "./daisyui{,*}.mjs";
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone}-{50,{100..900..100},950}");

@theme {
  --font-sans: "Montserrat";
  --font-ubuntu: "Ubuntu";
}

@plugin "./daisyui.mjs";

.turbo-progress-bar {
  @apply bg-primary;
}

turbo-frame[busy] {
  @apply animate-pulse;
}
