<dialog id="confirm" class="modal">
  <div class="modal-box">
    <p id="confirm-title" class="text-md font-bold"></p>
    <div class="modal-action">
      <button id="confirm-accept" class="btn btn-error">Accept</button>
      <form method="dialog">
        <button id="confirm-cancel" class="btn">Cancel</button>
      </form>
    </div>
  </div>
</dialog>
