<div class="flex w-full flex-col">
  <%= render "home/sections/heading" %>

  <div class="divider"></div>

  <%= render "home/sections/applications" %>
  <%= render "home/sections/bookmarks" %>
</div>
